$colorWhite: #fff;
$colorDarkGray: #6f6f6f;
$colorLightGray: #f5f5f5;
$colorBlue: #4170b4;
$colorOrange: #f7931e;
$colorLightOrange: #fbb03b;
$colorPurple: #b26eaa;
$colorBlur: rgba(246, 246, 246, 0.5);

$maxHeightMobileLandscape: 500px;
//$widthMinMobile: 321px;
$mobileMediumWidth: 376px;
$mobileClassicWidth: 426px;
$tabletWidth: 768px;
$desctopSmallWidth: 1024px;
$desctopLargeWidth: 1440px;