.dash-board {
    position: relative;
    width: 100svw;
    height: 100svh;
    background-color: #282b37;
    display: grid;
    place-items: center;

    overflow: hidden;
    &__items-block {
        position: relative;
        display: grid;
        // grid-template-columns: 297px min-content 1fr;
        grid-template-columns: min-content min-content 1fr;
        grid-template-rows: 1fr 1fr min-content 1fr;

        width: 100%;
        padding: 48px;
        gap: 16px;

        z-index: 2;
    }
    &__date-screen {
        grid-column: 1/2;
        grid-row: 1/2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;

        width: min-content;

        gap: 8px;

        background: transparent;
        
    }
    &__date-screen-month {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
    &__date-screen-date {
        color: #fff;
        font-size: 88px;
        font-weight: 400;
        text-align: center;
    }
    &__date-screen-day {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }
    &__daily-efficiency {
        grid-column: 1/2;
        grid-row: 2/3;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        margin: 0;
        padding: 24px;
        gap: 16px;

        // background-color: rgba(255, 255, 255, 0.1);
        background: rgba(13, 31, 35, .6);
        mix-blend-mode: multiply;
    }
    &__daily-efficiency-items {
        display: flex;
        flex-direction: column;

        justify-self: center;
        align-self: center;

        width: max-content;

        // padding: 0 32px;
        gap: 12px;
    }
    &__daily-efficiency-title {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
    }
    &__daily-efficiency-data {
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        
        &._result-red {
            color: #ff7b3d;
            font-size: 36px;
            font-weight: 700;
        }
        &._result-green {
            color: #2cffed;
            font-size: 36px;
            font-weight: 700;
        }
    }
    &__daily-efficiency-data-currency {
        font-size: 14px;
        font-weight: 400;
    }
    &__date-selection-block {
        grid-column: 1/3;
        grid-row: 3/4;

        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        width: min-content;

        height: min-content;

        // margin-top: 16px;
        padding: 12px;
        gap: 8px;

        background: rgba(13, 31, 35, .6);
        mix-blend-mode: multiply;
    }
    &__change-of-week-btn {
        width: 40px;
        height: 60px;

        color: #fff;
        font-size: 20px;
        font-weight: 700;
        
        padding: 0 20px;

        background: transparent;
    }
    &__days-block {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        width: max-content;

        gap: 8px;
    }
    &__button-day {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        padding: 8px;

        border-radius: 50%;
        background: transparent;

        color: #9f9f9f;
        font-size: 14px;
        transition: all .3s;
        &._green {
            color: #2cffed;
            &._active {
                box-shadow: 0px 0px 16px rgba(44, 255, 237, .6), inset 0px 0px 12px rgba(44, 255, 237, .4);
            }
        }
        &._red {
            color: #ff7b3d;
            &._active {
                 box-shadow: 0px 0px 16px rgba(255, 123, 61, .6), inset 0px 0px 12px rgba(255, 123, 61, .4);
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &__button-day_name {
        font-size: 10px;
    }
    &__fin-inform-buttons-block {
        grid-column: 2/3;
        grid-row: 1/3;

        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        background: transparent;
        width: 100%;
        height: 100%;

        // padding-left: 16px;
        gap: 16px;
    }
    &__fin-inform-button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 126px;
        width: 100%;
        aspect-ratio: 1 / 1;

        background: rgba(13, 31, 35, .6);
        mix-blend-mode: multiply;

        transition: all .3s;
        &:hover {
            .dash-board__fin-inform-button-ico {
                transform: scale(.92);
            }
        }
        &._active {
            background: #3d337d;
            background: linear-gradient(127deg, rgba(61, 51, 125, 1) 0%, rgba(43, 118, 194, 1) 50%, rgba(44, 255, 237, 1) 100%);
        }
    }
    &__fin-inform-button-name {
        display: block;
        position: absolute;
        top: 12px;
        left: 12px;

        font-size: 10px;
        line-height: 1em;
        color: #fff;
    }
    &__fin-inform-button-ico{
        width: 60px;
        aspect-ratio: 1 / 1;
        fill: #fff;
        transition: all .3s;
    }
    &__fin-inform-button-description {
        font-size: 10px;
        font-weight: 400;
        line-height: 1.6em;
        // letter-spacing: .1em;

        color: #afc1d9;
    }
    &__fin-inform-display {
        grid-column: 3/4;
        grid-row: 1/5;
        width: 100%;
        height: 100%;

        // background: tomato;

        // padding: 0 0 0 16px;

        overflow: hidden;
    }

    // Паналь одробиць по доходу за день
    &__daily-income-info {
        display: none;
        flex-direction: column;

        justify-content: flex-start;
        
        width: 0%;
        height: 0%;

        gap: 16px;
        padding: 40px;

        background: rgba(13, 31, 35, .6);
        mix-blend-mode: multiply;

        overflow-y: auto;
        &._on-screen {
            display: flex;

            width: 100%;
            height: 100%;

            opacity: 1;

            animation: showInfo .5s linear 1;
        }
    }
    &__fin-inform-display-title {
        display: flex;

        justify-self: flex-start;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        margin-bottom: 24px;

        color: #fff;
    }
    &__statistics-panel {
        display: flex;
        flex-direction: column;
        
        width: 100%;
        height: min-content;

        gap: 16px;
    }
    &__work-done {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: 1fr;

        gap: 16px;
        padding-left: 24px;

        font-size: 12px;

        color: #fff;
        transition: all .3s;
        &:hover {
            color: #2cffed;
        }
    }
    &__employee-income,
    &__amount-of-expenses {
        font-size: 14px;
        font-weight: 700;
        text-align: end;

        color: #9f9f9f;
    }

    // Панель подробиць по видатках за день
    &__daily-outlay-info {
        display: none;
        flex-direction: column;

        justify-content: flex-start;
        
        width: 0%;
        height: 0%;

        gap: 16px;
        padding: 40px;

        background: rgba(13, 31, 35, .6);
        mix-blend-mode: multiply;

        overflow-y: auto;
        &._on-screen {
            display: flex;

            width: 100%;
            height: 100%;

            opacity: 1;

            animation: showInfo .5s linear 1;
        }
    }
    &__outlay-block {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: 1fr;

        gap: 16px;
        padding-left: 24px;

        font-size: 12px;

        color: #fff;
        transition: all .3s;
        &:hover {
            color: #2cffed;
        }
    }

    // Панель ефективності за тиждень
    &__weekly-report {
        display: none;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        
        width: 0%;
        height: 0%;

        gap: 16px;
        padding: 40px;

        // background: rgba(13, 31, 35, .6);
        // mix-blend-mode: multiply;

        overflow: hidden;
        &._on-screen {
            display: flex;

            width: 100%;
            height: 100%;

            opacity: 1;

            animation: showInfo .5s linear 1;
        }
    }
    &__weekly-report-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        align-self: center;
        justify-self: center;

        gap: 20px;
    }
    &__weekly-profit-info {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    &__weekly-profit_gradient-text {
        font-size: 52px;
        font-weight: 700;
        line-height: 1em;
        text-align: center;
        
        background: linear-gradient(90deg, #2cffed, #ff7b3d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        background-clip: text;
        color: transparent;
        span {
            font-size: 20px;
        }
    }
    &__weekly-report-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 12px;
        span {
            font-size: 14px;
            font-weight: 400px;
            &:last-child {
                font-size: 20px;
                font-weight: 700;
            }
        }
        &._weekly-income {
            grid-column: 1/2;
            grid-row: 2/3;

            color: #2cffed;
        }
        &._weekly-break-even-point {
            grid-column: 2/3;
            grid-row: 2/3;

            color: #ff7b3d;
        }
    }

    // Контейнер графіка ефективності
    &__efficiency-chart-block {
        grid-column: 1/3;
        grid-row: 4/5;

        width: 100%;
        height: 100%;
    }
    &__efficiency-chart {
        width: 100%;
        height: 100%;
    }
}

.result {
    margin-bottom: 20px;
}
.back {
    position: relative;
    transition: all .3s;
    &::before {
        content: '';
        position: absolute;
        top: 30%;
        left: 50%;
        transform: rotate(330deg) translate(-50%);
        width: 60%;
        height: 3px;
        border-radius: 3px;
        background: #fff;
    }
    &::after {
        content: '';
        position: absolute;
        top: 70%;
        left: 50%;
        transform: rotate(30deg) translate(-50%);
        width: 60%;
        height: 3px;
        border-radius: 3px;
        background: #fff;

    }
    &:hover {
        transform: scale(.9);
    }
}
.forward {
    position: relative;
    transition: all .3s;
    &::before {
        content: '';
        position: absolute;
        top: 51%;
        left: 50%;
        transform: rotate(30deg) translate(-50%);
        width: 60%;
        height: 3px;
        border-radius: 3px;
        background: #fff;
    }
    &::after {
        content: '';
        position: absolute;
        top: 49%;
        left: 50%;
        transform: rotate(330deg) translate(-50%);
        width: 60%;
        height: 3px;
        border-radius: 3px;
        background: #fff;

    }
    &:hover {
        transform: scale(.9);
    }
}
.income {
    grid-column: 1/2;
    grid-row: 1/2;
}
.outlay {
    grid-column: 1/2;
    grid-row: 2/3;
}
.weekly {
    grid-column: 1/2;
    grid-row: 3/4;
}
.for-income {
    grid-column: 2/3;
    grid-row: 1/2;
}
.for-outlay {
    grid-column: 2/3;
    grid-row: 2/3;
}
.for-weekly {
    grid-column: 2/3;
    grid-row: 3/4;
}

// Графік ефективності (шкали та крива)
.chart-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
//   font-family: sans-serif;
}

.y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: min-content;
  padding-right: 4px;
  .y-label {
    font-size: 10px;
    text-align: right;
    height: 16px;
    color: #fff;
  }
}

.chart {
  position: relative;
  width: 100%;
  height: 100%;

  padding: 0 0 4px 4px;
  background: transparent;
//   border-left: 1px solid #ccc;
//   border-bottom: 1px solid #ccc;

  .line-chart {
  width: 100%;
  height: 100%;

  path {
    stroke: url(#lineGradient);
    stroke-width: 2;
    fill: none;
  }
}

  .x-axis {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    span {
      font-size: 10px;
      color: #fff;
    }
  }
}


// Анімауія фону
.blob-outer-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(100px);
    // opacity: .8;

    z-index: 1;
}

.blob-inner-container {
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scale(0.8);
}

.blob {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #3b3952, #1c3750, #132e35, #355157, #0d1f23, #173138);
    animation: spinBlob 30s linear infinite;
}

@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}
@keyframes showInfo {
    0% {
        display: flex;

        width: 100%;
        height: 0%;

        opacity: 0;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    5% {
        display: flex;

        width: 100%;
        height: 100%;

        opacity: 0;
        overflow-y: hidden;
        overflow-x: hidden;

    } 
    100% {
        display: flex;

        width: 100%;
        height: 100%;

        opacity: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }    
}